@import "tailwindcss";

@theme {
  --color-surface: #fff;
  --color-surface-container: #dcdbd1;
  --color-surface-container-high: #c4c3b3;
  --color-primary: #495d92;
  --color-primary-high: #7b8fc8;
  --color-primary-container: #b2caff;
  --color-on-primary: #ffffff;
  --color-on-surface: #1d1b20;
  --color-text: #000;
  --color-outline: #dcdbd1;
}

/* Dark Theme */
[data-theme="dark"] {
  --color-surface: #090c10;
  --color-surface-container: #0d1117;
  --color-surface-container-high: #17171b;
  --color-on-surface: #e3e2e9;
  --color-primary: #fdc700;
  --color-primary-high: #5478e4;
  --color-primary-container: #314683;
  --color-on-primary: #020618;
  --color-text: #fff;
  --color-outline: #30363d;
}

/* Light Theme */
[data-theme="light"] {
  --color-surface: #f7f2f2; /* Light cream */
  --color-surface-container: #fff; /* Soft light yellow */
  --color-surface-container-high: #e2e0e8; /* Pale yellow-beige */
  --color-on-surface: #1a1b21; /* Darker text color for better readability */
  --color-primary: #fdc700; /* Orange */
  --color-primary-high: #5478e4;
  --color-primary-container: #96aef6; /* Light orange container */
  --color-on-primary: #020618;
  --color-text: #333; /* Slightly darker text for contrast */
  --color-outline: #757780; /* Soft orange outline */
}


@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@layer components {
  .input {
    border-radius: var(--radius-sm);
    border-style: var(--tw-border-style);
    background-color: var(--color-surface-container);
    border-width: 1px;
    border: none;
    padding: calc(var(--spacing) * 2);
    width: 100%;
    border-radius: var(--radius-xl);
    padding-left: 15px;
    @variant focus {
      border-color: var(--color-primary);
      outline-style: solid;
      outline-width: 3px;
      outline-color: var(--color-primary);
    }
  }

  .button {
    @apply bg-primary text-on-primary font-bold rounded-xl px-4 py-2;

    @variant hover {
      @apply bg-primary-high;
    }
  }

  .disabled-button {
    background-color: var(--color-primary-high);
    padding-block: calc(var(--spacing) * 2);
    padding-inline: calc(var(--spacing) * 4) /* 1rem = 16px */;
    border-radius: var(--radius-xl);
    color: var(--color-on-primary);
    font-weight: bold;
  }

  .button-outlined {
    border-color: var(--color-on-surface);
    border-width: 1px;
    padding-block: calc(var(--spacing) * 2);
    padding-inline: calc(var(--spacing) * 4) /* 1rem = 16px */;
    border-radius: var(--radius-xl);
    color: var(--color-on-surface);
    @variant hover {
      border-color: var(--color-primary);
      color: var(--color-primary);
    }
  }

  .disabled-button-outlined {
    border-color: var(--color-on-surface);
    padding-block: calc(var(--spacing) * 2);
    padding-inline: calc(var(--spacing) * 4) /* 1rem = 16px */;
    border-radius: var(--radius-xl);
    color: var(--color-on-surface);
    border-width: 1px;

  }

  button {
    @apply cursor-pointer;
  }

  .wrapper {
      @apply h-full w-full dark:border-2 dark:border-outline rounded-4xl shadow-md bg-surface-container duration-300 ease-in-out overflow-hidden;
  }

  .wrapper.clickable {
    @variant hover {
      @apply hover:scale-95 cursor-pointer;
    }
  }
}
