@import "tailwindcss";

@theme {
  --color-surface: #fff;
  --color-surface-container: #dcdbd1;
  --color-surface-container-high: #c4c3b3;
  --color-primary: #495d92;
  --color-primary-high: #7b8fc8;
  --color-primary-container: #b2caff;
  --color-on-primary: #ffffff;
  --color-on-surface: #1d1b20;
  --color-text: #000;
  --color-outline: #dcdbd1;
}

[data-theme="dark"] {
  --color-surface: #090c10;
  --color-surface-container: #0d1117;
  --color-surface-container-high: #17171b;
  --color-on-surface: #e3e2e9;
  --color-primary: #fdc700;
  --color-primary-high: #fdcd1a;
  --color-primary-container: #314683;
  --color-on-primary: #020618;
  --color-text: #fff;
  --color-outline: #30363d;
}

[data-theme="light"] {
  --color-surface: #f7f2f2;
  --color-surface-container: #fff;
  --color-surface-container-high: #e2e0e8;
  --color-on-surface: #1a1b21;
  --color-primary: #fdc700;
  --color-primary-high: #fdcd1a;
  --color-primary-container: #96aef6;
  --color-on-primary: #020618;
  --color-text: #333;
  --color-outline: #757780;
}


@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@layer components {
  .input {
    @apply w-full rounded-xl bg-surface-container border border-transparent px-4 py-2 focus:border-primary focus:outline-none focus:ring-2 focus:ring-primary;
  }


  .button {
    @apply bg-primary text-on-primary font-bold rounded-xl px-4 py-2;

    @variant hover {
      @apply bg-primary-high;
    }
  }

  .button-outlined {
    @apply border border-[var(--color-on-surface)] text-[var(--color-on-surface)] rounded-[var(--radius-xl)] py-[calc(var(--spacing)*2)] px-[calc(var(--spacing)*4)] transition-colors duration-200 hover:border-[var(--color-primary)] hover:text-[var(--color-primary)];
  }


  button {
    @apply cursor-pointer;
  }

  .wrapper {
    @apply h-full w-full rounded-4xl shadow-xs bg-surface-container dark:border-2 dark:border-outline overflow-hidden transition-all duration-300 ease-in-out;
  }

  .wrapper.clickable {
    @variant hover {
      @apply hover:shadow-md hover:border-gray-300 dark:hover:border-gray-600;
    }
  }

}