@import "tailwindcss";

@theme {
  --color-background: #f2f0e3;
  --color-surface: #fff;
  --color-primary: #f76f53;
  --color-text: #000;
}

/* Dark Theme */
[data-theme="dark"] {
  --color-background: #030712;
  --color-surface: #1d202a;
  --color-surface-container: #1d202a;
  --color-primary: #407BFF;
  --color-text: #fff;
}

/* Light Theme */
[data-theme="light"] {
  --color-background: #f2f0e3;
  --color-surface: #fff;
  --color-surface-container: #dcdbd1;
  --color-primary: #407BFF;
  --color-text: #000;
}

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@layer components {
  .input {
    border-radius: var(--radius-sm);
    border-style: var(--tw-border-style);
    background-color: var(--color-surface-container);
    border-width: 1px;
    border: none;
    padding: calc(var(--spacing) * 2);
    width: 100%;
    max-width: 400px;
    
    @variant focus {
      border-color: var(--color-primary);
      outline-style: solid;
      outline-width: 3px;
      outline-color: var(--color-primary);
    }
  }

  button {
    cursor: pointer;
  }

  * {
    color: var(--color-text);
  }
}
